* {
    box-sizing: border-box;
}

.canvas-container {
    position: relative;
    display: inline-block;
}

.health-bars {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.pbar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 2px;
}

.player-health {
    background-color: red;
    height: 30px;
    width: 100%;
}

.pbar {
    position: absolute;
    background: #818CF8;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;    
}

.timer {
    color: white;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    border-radius: 2px;
}



.ebar-container {
    position: relative;
    width: 100%;
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 2px;
}

.enemy-health {
    background-color: red;
    height: 30px;
    width: 100%;
}

.ebar {
    position: absolute;
    background: #818CF8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.result {
    position: absolute;
    color: white;
    font-size: 32px;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}